@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");

header {
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logoContent {
  display: flex;
  align-items: center;
  gap: 50px;
}

.logo {
  font-family: "Bungee Shade", sans-serif;
  color: #92613a;
}

.languageSelect {
  width: 60px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  outline: none;
  background-color: #e5d6caad;
  border: none;
  border-radius: 5px;
}

.userInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.userInfo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
/* 
.showedProfile {
  position: absolute;
  margin-top: 20px;
  width: 130px;
  background-color: #fdfbfa;
  box-shadow: 0px 0px 10px #d1cecd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}

.showedProfile p {
  margin-top: 0px;
  margin-bottom: 10px;
}

.showedProfile p:first-child {
  border-bottom: 1px solid rgb(214, 214, 214);
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.showedProfile p:last-child {
    padding: 2px;
}

.showedProfile p:hover {
  background-color: rgba(219, 219, 219, 0.64);
} */

.showedProfile {
  position: absolute;
  margin-top: 20px;
  width: 130px;
  background-color: #fdfbfa;
  box-shadow: 0px 0px 10px #d1cecd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
  z-index: 10;
}
.showedProfile p {
  margin: 0;
  width: 85%;
  padding: 10px;
  text-align: center;
}

.showedProfile p:first-child {
  border-bottom: 1px solid rgb(214, 214, 214);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.showedProfile p:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.showedProfile p:hover {
  background-color: rgba(218, 218, 218, 0.346);
}
